.button {
    display: block;
    text-transform: uppercase;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    color: $paragraph-color;
    background-color: $second-color;
    font-family: $support-font;

    &:hover, &:focus {
        background-color:#d9aa5f;
        transition: .2s;
      }
}

.second-button{
    padding: 0;
    border: 2px solid white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    color: $paragraph-color;
    background-color: $none-color;
    font-family: $support-font;

    &:hover, &:focus {
        border-color: $second-color;
        color: $second-color;
        transition: .2s;
      }
}
