.checkbox-form {
  &__input {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }

  &__input + &__text {
    display: block;
  }

  &__input + &__text::before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: $second-color;
  }

  &__input:checked + &__text::before {
    background: url('../assets/images/check.png') no-repeat center $second-color;
  }

  &__input:focus + &__text {
    outline: $second-color solid 1px;
    box-shadow: 0 0px 5px $second-color;
  }
}