.offer-item {
  width: 100%;
  max-width: 392px;
  margin-right: 10px;

  &:last-child{
    margin-right: 0;
  }

  &-wrap {
    position: relative;
    width: 100%;
    min-height: 421px;
    background: grey;
    z-index: -1;

    @include for-phone-only {
      min-height: 365px;
    }

    &__img {
      display: block;
      width: 100%;
      height: 421px;
      object-fit: cover;

      @include for-phone-only {
        min-height: 365px;
      }
    }
  }

  &-list {
    margin: auto;
    width: 100%;
    max-width: 330px;
    min-height: 286px;
    background: $paragraph-color;
    margin-top: -127px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

    @include for-phone-only {
      max-width: 270px;
      min-height: 241px;
      margin-left: 0;
    }

    &__title {
      width: 100%;
      max-width: 228px;
      padding-top: 25px;
      margin: 0 auto 0 34px;
      font-family: $title-font;
      font-weight: normal;

      @include for-phone-only {
        font-size: 15px;
        line-height: 138.6%;
      }
    }

    &-marker {
      width: 100%;
      max-width: 267px;
      margin: 13px auto 0 34px;
      padding-bottom: 37px;

      @include for-phone-only {
        max-width: 200px;
        min-height: 150px;
      }

      &__item {
        list-style: none;
        font-size: 15px;
        line-height: 1.7;
        color: #959595;

        @include for-phone-only {
          font-size: 13px;
          line-height: 169.8%;
        }

        &::before{
          content: '•';
          margin-right: 5px;
        }
     }
    }
  }

  &__cost {
    display: block;
    text-align: center;
    padding: 17px;
    margin: -28px 0 0 32px;
    color: $paragraph-color;
    font-family: $title-font;
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase;
    width: 100%;
    max-width: 228px;
    min-height: 54px;
    background: $second-color;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);

    @include for-phone-only {
      font-size: 13px;
      line-height: 138.6%;
      max-width: 160px;
      min-height: 18px;
      padding: 10px;
      margin: -15px 0 0 0;
    }
  }
}