.offer-item {
  width: 100%;
  max-width: 392px;

  &__img {
    width: 100%;
    min-height: 421px;
    background: grey;
  }

  &-list {
    margin: auto;
    width: 100%;
    max-width: 330px;
    min-height: 286px;
    background: $paragraph-color;
    margin-top: -127px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

    &__title {
      display: block;
      width: 100%;
      max-width: 228px;
      padding-top: 25px;
      margin: 0 auto 0 34px;
      font-family: $title-font;
      font-weight: normal;
    }

    &-marker {
      width: 100%;
      max-width: 267px;
      margin: 13px auto 36px 34px;

      &__item {
        font-size: 15px;
        line-height: 1.7;
        color: #959595;
     }
    }
  }

  &__cost {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: $paragraph-color;
    font-family: $title-font;
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase;
    width: 100%;
    max-width: 228px;
    min-height: 54px;
    background: $second-color;
    transform: translateY(-48%) translateX(-22.3%);
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  }
}