@font-face{
    font-family: "FuturaDemiC";
    src: url("../assets/fonts/FuturaDemiC-Regular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "FuturaBookC";
    src: url("../assets/fonts/FuturaBookC-Regular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Yeseva One";
    src: url("../assets/fonts/YesevaOne-Regular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}