.footer {
    width: 100%;
    min-height: 133px;
    background-color: $base-color;
    display: flex;
    justify-content: center;

    &-wrap {
        display: flex;
        width: 1440px;
    }

    .nav {
        width: 100%;
        min-height: 83px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 100px 0 82px;

        &__logo {
            color: white;
            color: $second-color;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            font-family: $support-font;
        }

        &-menu {
           display: flex;
           justify-content: space-between;
           max-width: 581px;
           flex-grow: 1;

           &__item {
               color: white;
               text-decoration: none;
               font-size: 14px;
               line-height: 16px;
               font-family: $subtitle-font;

               &:hover {
                   color: $second-color;
                   transition: .2s;
               }
           }
        }

        &-wrap {
            display: flex;
            max-width: 332px;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
        }

        &__phone {
            color: white;
            font-size: 14px;
            line-height: 16px;
            text-decoration-line: underline;
            color: $second-color;
            font-weight: bold;
            font-family: 'FuturaDemiC', sans-serif;
        }

        &__button {
            width: 161px;
            height: 37px;
            font-size: 13px;
            line-height: 15px;
            font-weight: bold;
            font-family: 'FuturaDemiC', sans-serif;
        }
    }
}
