.header-footer {
  position: relative;
  z-index: 4;
  width: 100%;
  background-color: $base-color;

  &__mobile {
    display: none;
    min-height: 57px;
  }

  &__header {
    min-height: 83px;
  }

  &__footer {
    min-height: 133px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: $second-color;
    font-size: 14px;
    line-height: 16px;
    font-family: $support-font;
    text-transform: uppercase;

    &:hover, &:focus {
      color:$second-color;
      transition: .2s;
    }
  }

  &-nav {
    width: 100%;
    max-width: 581px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-tablet-landscape-only {
      max-width: 450px;
    }

    @include for-tablet-portait-only {
      display: none;
    }

    &__item {
      color: $paragraph-color;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;

      &:hover, &:focus {
        color:$second-color;
        transition: .2s;
      }
    }
  }

  &-support-wrap {
    width: 100%;
    max-width: 332px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-tablet-landscape-only {
      max-width: 161px;
    }
  }

  &__burger {
    width: 30px;
    height: 30px;

    &-item {
      width: inherit;
      height: 2px;
      background: $paragraph-color;
      border-radius: 2px;
      transition: all .2s ease-in-out;

      &:nth-child(2) {
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }
  }

  .active-burger {
    &:nth-child(1) {
      transform: translateY(14px) rotate(135deg);
    }
    &:nth-child(2) {
      transform: scale(0);
    }
    &:nth-child(3) {
      transform: translateY(-14px) rotate(-135deg);
    }
  }

  &__phone{
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: $second-color;

    @include for-tablet-landscape-only {
      display: none;
    }

    @include for-tablet-portait-only {
      color: $paragraph-color
    }
  }

  &__button{
    width: 100%;
    max-width: 161px;
    min-height: 37px;
  }

  @include for-phone-only {
    &__mobile {
      display: block;
    }

    &__header {
      min-height: 57px;
      position: absolute;
      z-index: 3;
    }

    &__container {
      &--popup {
        display: block;
        padding: 0;
        margin-top: -100%;
        transition: margin-top .3s;
      }
    }

    &__logo {
      display: none;

      &--mobile {
        display: block;
        font-size: 12px;
        line-height: 14px;
      }
    }

    &-nav {
      display: none;
      &__header {
        display: block;
      }

      &__item {
        &_header {
          display: block;
          text-align: center;
          margin: 10px 0;
        }
      }
    }

    &-support-wrap {
      &__header {
        display: block;
        max-width: 100%;
        margin: 20px 0 10px 0;
      }
      max-width: 30px;
    }

    &__button {
      display: none;

      &_header {
        display: block;
        margin: 10px auto;
      }
    }

    &__phone {
      display: none;
      text-decoration-line: none;
      color: $second-color;

      &:hover, &:focus {
        text-decoration: underline;
      }

      &_header {
        display: block;
        text-align: center;
      }
    }
  }
}

.active-burger-menu {
  margin-top: 0;
  transition: margin-top .3s;
}