.banner {
  width: 100%;
  min-height: 707px;
  display: flex;
  position: relative;

    &-instagram {
      background-color: $base-color;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 82px;
      cursor: pointer;

      &:hover, &:focus {
        transition: .2s;

      }

      &__title {
        color: $second-color;
        font-family: $support-font;
        transform: rotate(90deg);
        display: flex;
        align-items: center;
        text-transform: uppercase;

        &::after{
          content: '';
          vertical-align: middle;
          width: 51px;
          height: 2px;
          background-color: $second-color;
          margin-left: 8px;
        }
      }
    }

    &-welcom {
      width: 100%;
      position: relative;
      min-height: inherit;
      background: url(../assets/images/banner.png) no-repeat center center fixed;
      background-size: cover;
      display: flex;
      align-items: center;

        &-wrap {
          position: relative;
          z-index: 2;
          max-width: 515px;
          min-height: 305px;
          margin-top: 10px;
          margin-left: 60px;
          margin-bottom: 50px;

          &__text-decoration {
            color: $second-color;
          }

          &__title {
              display: block;
              color: $paragraph-color;
              font-family: $title-font;
              text-transform: uppercase;
              margin-bottom: 19px;
          }

          &__subtitle {
              display: block;
              color: $paragraph-color;
              font-family: $subtitle-font;
              font-size: 22px;
              line-height: 1.4;
          }

          &__calculate-btn {
              display: inline-block;
              margin-top: 41px;
              margin-right: 20px;
              min-width: 207px;
              min-height: 51px;
          }

          &__submit-btn {
              display: inline-block;
              margin-top: 41px;
              min-width: 207px;
              min-height: 51px;
          }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.5);
            z-index: 1;
        }
    }

    &-scroll-btn {
      width: 100%;
      max-width: 247px;
      min-height: 97px;
      position: absolute;
      bottom: -6.93%;
      z-index: 2;
      color: $paragraph-color;
      background-color: $base-color;
      font-family: $title-font;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      line-height: 1.36;
      cursor: pointer;

      &__title {
        margin-right: 12px;
      }

      &:hover, &:focus {
        transition: .2s;
      }
    }
}

