.banner {
  width: 100%;
  min-height: 707px;
  display: flex;
  position: relative;

    &-instagram {
      background-color: $base-color;
      max-width: 82px;
      cursor: pointer;

      @include for-tablet-portait-only {
        max-width: 50px;
      }

      &:hover, &:focus {
        transition: .2s;

      }

      &__title {
        position: relative;
        display: block;
        color: $second-color;
        font-family: $support-font;
        transform: rotate(90deg);
        text-transform: uppercase;

        &::after{
          content: '';
          position: absolute;
          display: inline-block;
          top:50%;
          transform: translateY(-50%);
          width: 51px;
          height: 2px;
          background-color: $second-color;
          margin-left: 8px;
        }
      }
    }

    &-welcom {
      width: 100%;
      position: relative;
      min-height: inherit;
      background: url('../assets/images/banner.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;

        &-wrap {
          position: relative;
          z-index: 2;
          max-width: 515px;
          min-height: 305px;
          margin-top: 10px;
          margin-left: 60px;
          margin-bottom: 50px;

          @include for-tablet-portait-only {
            margin-left: 30px;
          }

          &__text-decoration {
            color: $second-color;
          }

          &__title {
              display: block;
              color: $paragraph-color;
              font-family: $title-font;
              text-transform: uppercase;
              margin-bottom: 20px;

              @include for-tablet-portait-only {
                max-width: 400px;
              }
          }

          &__subtitle {
              display: block;
              color: $paragraph-color;
              font-family: $subtitle-font;
              font-size: 22px;
              line-height: 1.4;

              @include for-tablet-portait-only {
                max-width: 465px;
              }
          }

          &__calculate-btn {
              display: inline-block;
              margin-top: 41px;
              margin-right: 20px;
              min-width: 207px;
              min-height: 51px;
          }

          &__submit-btn {
              display: inline-block;
              margin-top: 41px;
              min-width: 207px;
              min-height: 51px;
          }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.5);
            z-index: 1;
        }
    }

    &-scroll-btn {
      width: 100%;
      max-width: 247px;
      height: 1px;
      min-height: 97px;
      position: absolute;
      bottom: -6.93%;
      left:0;
      z-index: 2;
      color: $paragraph-color;
      background-color: $base-color;
      font-family: $title-font;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      line-height: 1.36;
      cursor: pointer;

      &__title {
        margin-right: 12px;
      }

      &:hover, &:focus {
        transition: .2s;
      }
    }

    @include for-phone-only {
      min-height: 475px;

      &-instagram {
        display: none;
      }

      &-welcom {
        &-wrap {
          width: 100%;
          max-width: 340px;
          margin: auto;
          margin-top: 85px;

          &__title {
            font-size: 23px;
            line-height: 132.83%;
          }

          &__subtitle {
            width: 300px;
            font-size: 18px;
            line-height: 135.84%;
          }

          &__calculate-btn {
            width: 100%;
            margin-top: 32px;
            margin-right: 0;
          }

          &__submit-btn {
            width: 100%;
            margin-top: 26px;
          }
        }
      }

      &-scroll-btn {
        display: none;
      }
    }
}

