.leave-request {
  @include for-phone-only {
    display: none;
  }

  &__container {
    display: flex;
    justify-content:space-between;
    margin: auto;
    max-width: 1360px;
    min-height: 725px;
    padding: 0 20px 0 0;
    margin-bottom: 130px;

    @include for-tablet-landscape-only {
      margin-bottom: 0;
      padding:0
    }

    @include for-tablet-portait-only {
      margin-bottom: 0;
      padding: 0
    }
  }

  &-wrap {
    position: relative;
    height: 1px;
    width: 100%;
    max-width: 702px;
    min-height: 650px;

    &__img {
      position: absolute;
      z-index: -1;
    }

    @include for-tablet-landscape-only {
      display: none;
    }

    @include for-tablet-portait-only {
      display: none;
    }

    &-point-block {
      position:absolute;
      z-index:2;
      width: 100%;
      min-height: inherit;

      @include for-tablet-desktop-only{
        width: 702px;
        height: 501px;
        margin-left: -120px;
      }

      &__point_one {
        margin-top: 18.5%;
        margin-left: 50.7%;
        margin-bottom: 10.8%;
      }
      &__point_two {
        margin-left: 61.4%;
        margin-bottom: 18.6%;
      }
      &__point_three {
        margin-left: 65%;
        margin-bottom: 18.6%;
      }
      &__point_four{
        margin-left: 55.7%;
      }
    }
  }

  &-form--popup-form {
    visibility: hidden;
    position: fixed;
    background: rgba($color: $paragraph-color, $alpha: 0.3);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    transition: 1s;
  }

  &-form-wrap {
    width: 100%;
    max-width: 510px;
    margin-top: 115px;

    @include for-tablet-landscape-only {
      margin: auto;
      margin-top: 95px;
    }

    @include for-tablet-portait-only {
      margin: auto;
      margin-top: 95px;
    }

    &--popup {
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transform: translateY(-50%);
      z-index: 9999;
      min-height: 510px;

      @include for-tablet-landscape-only {
        margin: auto;
        margin-top: 0px;
      }

      @include for-tablet-portait-only {
        margin: auto;
        margin-top: 0px;
      }
    }

    &-form {
      display: block;
      width: 100%;
      padding: 30px 50px;
      background: $base-color;
      color: $paragraph-color;

      &__close-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background: url('../assets/images/close.png') no-repeat center;
        margin-top: 14px;
        margin-right: 14px;
      }

      &__title {
        &--popup-title {
          max-width: 365px;
          font-family: $title-font;
          font-size: 19px;
          line-height: 1.4;
        }
        display: block;
        text-align: center;
        margin: auto;
        width: 100%;
        max-width: 250px;
        font-family: $support-font;
        line-height: 1.25;
      }

      &__input-form {
        margin-top: 50px;
        color: rgba(255, 255, 255, 0.5);

        &:first-of-type {
          margin-top: 40px;
        }

        &_item {
          color: $paragraph-color;
          border-color: rgba(255, 255, 255, 0.5);
          &::placeholder {
            color: $paragraph-color;
          }
        }
      }

      &__checkbox-form {
        display: block;
        margin-top: 20px;
        margin-bottom: 40px;
      }

      &__btn {
        width: 100%;
        max-width: 210px;
        min-height: 50px;
        margin-left: auto;
      }
    }

    &-monybox {
      width: 100%;
      max-width: 440px;
      min-height: 72px;
      margin-left: 30px;
      margin-top: 40px;

      @include for-tablet-landscape-only {
        display: none;
      }

      @include for-tablet-portait-only {
        display: none;
      }

      &__img {
        display: inline-block;
        margin-right: 25px;
        width: 75px;
        height: 95px;
        background: url('../assets/images/monybox.png') no-repeat center center;
      }

      &__text {
        display: inline-block;
        vertical-align: top;
        padding-top: 16px;
        width: 100%;
        max-width: 240px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.25;
        color: $second-color;
        text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
      }
    }
  }
}

.active-popup {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}