.online-control {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: $title-font;
    text-transform: uppercase;
    margin-top: 20px;
  }

  &__img {
    display: flex;
    align-items: center;
    margin: 13px 0 31px 0;

    &::after, &::before {
      content: '';
      width: 32px;
      height: 2px;
      background-color: $second-color;
      margin: 0 8px;
    }
  }

  &-player {
    position: relative;
    min-width: 817px;
    min-height: 434px;

    &__video {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &__curtain {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      z-index: 1;
    }

    &__play {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }

  &__subtitle{
    display: inline-block;
    max-width: 681px;
    min-height: 131px;
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 91px;

    &::before{
      content: '';
      display: block;
      width: 55px;
      height: 2px;
      background-color: $second-color;
      margin: 34px auto 62px;
    }
  }

  &-form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 769px;
    min-height: 102px;
    margin-bottom: 148px;

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

        &__btn {
          width: 100%;
          max-width: 200px;
          min-height: 51px;
          font-size: 15px;
          line-height: 1.73;
        }
    }
  }
}