.our-team {
  &__container {
    max-width: 1068px;
    padding: 0 55px;

    @include for-phone-only {
      padding: 0 15px 0 45px;
    }
  }

  &__person {
    margin: 0 40px;

    @include for-tablet-portait-only {
      margin: 0 0 55px;
    }

    @include for-phone-only {
      margin: 0 0 55px;
    }
  }

  &__title {
    color: $base-color;
    font-family: $title-font;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;

    @include for-phone-only {
      font-size: 22px;
      line-height: 138.6%;
      margin-top: 0;
    }
  }

  &__img {
    margin: 13px 0 25px;
    text-align: center;

    &::after, &::before {
      content: '';
      display: inline-block;
      vertical-align: text-top;
      width: 32px;
      height: 2px;
      background-color: $second-color;
      margin: 0 8px;
    }
  }

  &__subtitle {
    display: block;
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    margin: 0 auto;

    @include for-phone-only {
      font-size: 15px;
      line-height: 135.84%;
    }

    &--up {
      max-width: 460px;
      margin-bottom: 40px;
      line-height: 1.35;

      @include for-phone-only {
        line-height: 135.84%;
      }
    }

    &--down {
      max-width: 558px;
      margin-bottom: 90px;

      @include for-phone-only {
        display: none;
      }

      &::before {
        content: '';
        display: block;
        width: 55px;
        height: 2px;
        background-color: $second-color;
        margin: 0 auto 20px;
      }
    }
  }

  &-person-block {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 55px;

    @include for-tablet-portait-only {
      max-width: 275px;
      flex-wrap: wrap;
      margin: auto;
    }

    @include for-phone-only {
      max-width: 305px;
      flex-wrap: wrap;
      margin: auto;
    }
  }

  &__icon-project {
    background-image: url('../assets/images/idea.png');
  }

  &__icon-designer {
    background-image: url('../assets/images/pen.png');
  }

  &__icon-foreman {
    background-image: url('../assets/images/portfolio.png');
  }
}