.our-clients {
  &__container {
    max-width: 1276px;
  }

  &__title {
    color: $base-color;
    font-family: $title-font;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;

    @include for-phone-only {
      font-size: 22px;
      line-height: 138.6%;
      margin-top: 0;
    }
  }

  &__img {
    margin: 13px 0 25px;
    text-align: center;

    @include for-phone-only {
      margin: 20px 0 40px;
      text-align: center;
    }

    &::after, &::before {
      content: '';
      display: inline-block;
      vertical-align: text-top;
      width: 32px;
      height: 2px;
      background-color: $second-color;
      margin: 0 8px;
    }
  }

  &__subtitle {
    display: block;
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    margin: 0 auto;
    max-width: 360px;
    margin-bottom: 40px;
    line-height: 1.35;
  }

  &-block {
    width: 100%;
    min-height: 455px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 160px;

    @include for-tablet-portait-up {
      justify-content: space-around;
    }

    @include for-desktop-up {
      justify-content: space-between;
    }
  }
}