.projects {
  min-height: 1075px;
  background: $base-color;
  overflow: auto;

  &-slider {
    min-height: 482px;
  }

  &-top-menu {
    display: flex;
    justify-content: space-between;
    max-width: 625px;
    min-height: 25px;
    margin-left: auto;
    margin-right: 225px;
    margin-bottom: 50px;

    @include for-tablet-landscape-only {
      margin: auto;
      margin-bottom: 90px;
    }

    @include for-tablet-portait-only {
      display: none;
    }

    &__item {
      display: block;
      color: rgba(255, 255, 255, 0.3);
      font-family: $title-font;
      font-size: 14px;
      line-height: 1.35;
      text-transform: uppercase;
    }
    .activ-menu{
      position: relative;
      color: $second-color;
      &::after {
        content: '';
        position: absolute;
        display: block;
        margin-top: 5px;
        height: 1px;
        width: 100%;
        background-color: $second-color;
      }
    }
  }

  &-nav-menu {
    @include for-tablet-landscape-only{
      display: none;
    }

    @include for-tablet-portait-only {
      display: none;
    }
  }

  &__container {
    margin: 110px 0 430px auto;
    padding-right: 0;
    max-width: 1360px;
    min-height: 475px;

    @include for-big-desktop-up {
      margin: 110px auto 430px;
    }

    @include for-tablet-portait-only {
      padding-right: 20px;
      max-width: 1380px;
    }
  }

  &-slider {
    &-item {
      &:focus {
        outline: none;
      }
      &-wrap{
        display: flex;
        justify-content: space-between;
        color: $paragraph-color;
        max-width: 1360px;
        min-height: 475px;

        @include for-tablet-landscape-only{
          flex-wrap: wrap;
        }

        @include for-tablet-portait-only {
          flex-wrap: wrap;
        }

        &-project-paragraph {
          margin-right: 20px;

          @include for-tablet-landscape-only{
            margin: auto;
            display: flex;
          }
          @include for-tablet-portait-only {
            margin: auto;
            max-width: 415px;
            display: flex;
            flex-wrap: wrap;
          }
        }

        &-projects {
          width: 100%;
          max-width: 440px;
          min-height: 90px;
          margin-bottom: 40px;


          &__title{
            display: block;
            width: 100%;
            max-width: 300px;
            color: $second-color;
            text-transform: uppercase;
            margin-bottom: 35px;

            &::after {
              content: '';
              display: inline-block;
              vertical-align: text-bottom;
              margin-bottom: 15px;
              margin-left: 35px;
              width: 92px;
              height: 1px;
              background-color: $second-color;
            }
          }

          &__subtitle {
            font-size: 18px;
            line-height: 1.6;
          }
        }

        &-paragraph {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          width: 100%;
          max-width: 390px;
        }

        &-city {
          width: 100%;
          max-width: 150px;
          min-height: 80px;
          margin-bottom: 35px;

          &__title {
            color: $second-color;
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          &__subtitle {
            display: block;
            max-width: 110px;
            font-size: 15px;
            line-height: 1.3;
          }
        }

        &-area {
          width: 100%;
          max-width: 200px;
          min-height: 80px;

          @include for-tablet-desktop-only {
            max-width: 150px;
          }

          &__title {
            color: $second-color;
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          &__subtitle {
            font-size: 15px;
            line-height: 1.3;
          }
        }

        &-time {
          width: 100%;
          max-width: 150px;
          min-height: 80px;

          &__title {
            color: $second-color;
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          &__subtitle {
            font-size: 15px;
            line-height: 1.3;
          }
        }

        &-cost {
          width: 100%;
          max-width: 200px;
          min-height: 80px;

          @include for-tablet-desktop-only {
            max-width: 150px;
          }

          &__title {
            color: $second-color;
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          &__subtitle {
            font-size: 15px;
            line-height: 1.3;
          }
        }

        &-slider-nested {
          position: relative;
          width: 100%;
          max-width: 850px;
          min-height: inherit;
          @include for-tablet-landscape-only{
            margin: auto;
          }

          @include for-tablet-portait-only {
            margin: auto;
          }

          &-item {
            width: 100%;
            max-width: 680px;
            min-height: 482px;

            @include for-tablet-portait-only {
              display: block!important;
              margin: auto;
            }

            &__img {
              width: inherit;
              min-height: inherit;
              object-fit: cover;
            }
            &:focus {
              outline: none;
            }
          }
        }

        &__buttons {
          &-next {
            position: absolute;
            top: 36%;
            left: 88%;
            z-index: 999;
            width: 70px;
            height: 70px;
            background: url('../assets/images/slider_btn.png') no-repeat center center;

            @include for-phone-only {
              background: url('../assets/images/next_mini.png') no-repeat center center;
              top: 43%;
              left: 86%;
              width: 36px;
              height: 36px;
            }
          }

          &-prev {
            position: absolute;
            top: 43%;
            left: 3%;
            z-index: 999;
            width: 36px;
            height: 36px;
            background: url('../assets/images/prev_mini.png') no-repeat center center;
          }
        }
      }
    }
  }

  @include for-phone-only {
    min-height: 475px;

    &-top-menu {
      display: none;
    }

    &__container {
      padding-right: 20px;
      max-width: 1380px;
      margin-top: 40px;
      margin-bottom: 60px;
    }

    &__item {
      display: block;
      color: rgba(255, 255, 255, 0.3);
      font-family: $title-font;
      font-size: 14px;
      line-height: 1.35;
      text-transform: uppercase;
    }

    &-slider-item-wrap {
      flex-wrap: wrap;
      justify-content: center;

      &-project-paragraph {
        margin: 0;
      }

      &-projects {
        width: 100%;

        &__title {
          max-width: 200px ;
          text-align: center;
          margin: auto;
          font-size: 22px;
          line-height: 138.6%;

          &::after {
            display: none;
          }
        }

        &__subtitle {
          display: block;
          width: 100%;
          max-width: 311px;
          text-align: center;
          margin: 25px auto 40px;
          font-size: 14px;
          line-height: 158.48%;
        }
      }

      &-city {
        margin: 0;

        &__title {
          font-size: 14px;
          line-height: 138.6%;
        }

        &__subtitle {
          font-size: 14px;
          line-height: 135.84%;
        }
      }

      &-area {
        max-width: 150px;
        &__title {
          font-size: 14px;
          line-height: 138.6%;
        }

        &__subtitle {
          font-size: 14px;
          line-height: 135.84%;
        }
      }

      &-time {
        &__title {
          font-size: 14px;
          line-height: 138.6%;
        }

        &__subtitle {
          font-size: 14px;
          line-height: 135.84%;
        }
      }

      &-cost {
        max-width: 150px;
        &__title {
          font-size: 14px;
          line-height: 138.6%;
        }

        &__subtitle {
          font-size: 14px;
          line-height: 135.84%;
        }
      }

      &-slider-nested {
        min-height: 240px;
        &-item {
          width: 100%;
          max-width: inherit;
          min-height: 240px;
          display: block!important;
          margin: auto;

          &__img {
            width: inherit;
            min-height: inherit;
            object-fit: cover;
          }

          &__btn {
            position: absolute;
            z-index: 999;
            width: 70px;
            height: 70px;
            background: url('../assets/images/slider_btn.png') no-repeat center center;
            margin-top: -35.5%;
            margin-left: 88%
          }
        }
      }
    }

    &-nav-menu {
      display: none;
    }
  }
}