.projects {
  min-height: 1075px;
  background: $base-color;
  overflow: auto;

  &-top-menu {
    display: flex;
    justify-content: space-between;
    max-width: 625px;
    min-height: 25px;
    margin-left: auto;
    margin-right: 225px;
    margin-bottom: 50px;
    &__item {
      color: rgba(255, 255, 255, 0.3);
      font-family: $title-font;
      font-size: 14px;
      line-height: 1.35;
      text-transform: uppercase;
    }
  }

  &__container {
    margin: 110px auto 0;
    padding-right: 0;
    max-width: 1360px;
    min-height: 475px;
  }

  &-slider {
    &-item {
      &:focus {
        outline: none;
      }
      &-wrap{
        display: flex;
        justify-content: space-between;
        color: $paragraph-color;
        max-width: 1360px;
        min-height: 475px;

        &-projects {
          width: 100%;
          max-width: 440px;
          min-height: 90px;
          margin-bottom: 40px;

          &__title{
            display: block;
            width: 100%;
            max-width: 300px;
            color: $second-color;
            text-transform: uppercase;
            margin-bottom: 35px;

            &::after {
              content: '';
              display: inline-block;
              vertical-align: text-bottom;
              margin-bottom: 15px;
              margin-left: 35px;
              width: 92px;
              height: 1px;
              background-color: $second-color;
            }
          }

          &__subtitle {
            font-size: 18px;
            line-height: 1.6;
          }
        }

        &-paragraph {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          width: 100%;
          max-width: 390px;
        }

        &-city {
          width: 100%;
          max-width: 110px;
          min-height: 80px;
          margin-bottom: 35px;

          &__title {
            color: $second-color;
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          &__subtitle {
            font-size: 15px;
            line-height: 1.3;
          }
        }

        &-area {
          width: 100%;
          max-width: 200px;
          min-height: 80px;

          &__title {
            color: $second-color;
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          &__subtitle {
            font-size: 15px;
            line-height: 1.3;
          }
        }

        &-time {
          width: 100%;
          max-width: 160px;
          min-height: 80px;

          &__title {
            color: $second-color;
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          &__subtitle {
            font-size: 15px;
            line-height: 1.3;
          }
        }

        &-cost {
          width: 100%;
          max-width: 200px;
          min-height: 80px;

          &__title {
            color: $second-color;
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          &__subtitle {
            font-size: 15px;
            line-height: 1.3;
          }
        }

        &-slider-nested {
          position: relative;
          width: 100%;
          max-width: 850px;
          min-height: inherit;

          &-item {
            &__btn {
              position: absolute;
              z-index: 999;
              width: 70px;
              height: 70px;
              background: url('../assets/images/slider_btn.png') no-repeat center center;
              margin-top: -35.5%;
              margin-left: 88%;
            }
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}