.realize {
  position: relative;
  min-height: 865px;
  margin-bottom: 155px;
  margin-top: 240px;
  transition: all .3s;

  &::after {
    content: '';
    position: absolute;
    background: rgba($color: $base-color, $alpha: 0.7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__container {
    position: relative;
    z-index: 2;
    max-width: 1440px;
    padding: 0.1px 100px;
  }

  &__title {
    display: block;
    max-width: 250px;
    color: $second-color;
    margin-top: 140px;
    margin-bottom: 50px;
  }

  &-types {
    display: block;
    max-width: 250px;
    color: $paragraph-color;
    font-size: 20px;
    line-height: 1.7;
    list-style-type: none;

    &__item {
      margin-bottom: 15px;
      transition: .3s;
      max-width: 160px;
    }
  }

  .active-tab {
    color: $second-color;

    &::after {
      content: '';
      display: block;
      background: $second-color;
      height: 1px;
      width: 100%;
    }
  }

  &__content {
    background: $paragraph-color;

    &-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 1s;
    }

    &-one {
      position: absolute;
      top: -42px;
      right: 34.56%;
      width: 100%;
      max-width: 354px;
      height: 558px;
    }

    &-two {
      position: absolute;
      top: -112px;
      right: 6.95%;
      width: 100%;
      max-width: 354px;
      height: 275px;
    }

    &-three {
      position: absolute;
      bottom: -42px;
      right: 34.56%;
      width: 100%;
      max-width: 354px;
      height: 350px;
    }

    &-four {
      position: absolute;
      bottom: 0;
      right: 6.95%;
      width: 100%;
      max-width: 354px;
      height: 625px;
      margin-bottom: 40px;
    }
  }
}
