.realize {
  position: relative;
  background-image: url('../assets/images/backrealize.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 865px;
  margin-bottom: 155px;
  margin-top: 240px;

  @include for-tablet-portait-only {
    min-height: 510px;
    margin-top: 110px;
    background-image: none !important;
  }

  @include for-phone-only {
    min-height: 242px;
    margin-bottom: 70px;
    margin-top: 90px;
    background-image: none !important;
  }

  &::after {
    content: '';
    position: absolute;
    background: rgba($color: $base-color, $alpha: 0.7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    @include for-tablet-portait-only {
      display: none;
    }

    @include for-phone-only {
      display: none;
    }
  }

  &__container {
    position: relative;
    justify-content: space-between;
    z-index: 2;
    max-width: 1440px;
    padding-left: 6.95%;
    padding-right: 6.95%;
    display: flex;
    align-items: center;

    @include for-tablet-portait-only {
      display: block;
      padding:0 20px;
    }

    @include for-phone-only {
      display: block;
      padding: 0px 20px;
    }
  }

  &-slider {
    display: none !important;
    position: relative;
    width: 100%;

    @include for-tablet-portait-only {
      display: block !important;
    }

    @include for-phone-only {
      display: block !important;
    }

    &__item {
      width: 100%;
      height: 510px;

      @include for-phone-only {
        height: 242px;
      }

      &-img {
        width: 100%;
        height: inherit;
        object-fit: cover;
      }
    }

    &__button {
      position: absolute;
      z-index: 4;
      top: 43%;
      width: 36px;
      height: 36px;

      &--prev {
        left: 4%;
        background: url('../assets/images/prev_mini.png');
      }

      &--next {
        right: 4%;
        background: url('../assets/images/next_mini.png');
      }
    }
  }

  &-types-block {
    width: 100%;
    max-width: 250px;
    margin-right: 70px;

    @include for-tablet-portait-only {
      max-width: 100%;
      margin-right: 0;
    }
    @include for-phone-only {
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__title {
    display: block;
    max-width: 250px;
    color: $second-color;
    margin-bottom: 50px;

    @include for-tablet-portait-only {
      margin: 0 auto;
      position: absolute;
      top: -120px;
      left:0;
      right: 0;
      max-width: 300px;
      text-align: center;
      text-transform: uppercase;
    }

    @include for-phone-only {
      margin: 0 auto;
      position: absolute;
      top: -90px;
      left:0;
      right: 0;
      max-width: 300px;
      text-align: center;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 138.6%;
    }
  }

  &-types {
    display: block;
    max-width: inherit;
    color: $paragraph-color;
    font-size: 20px;
    line-height: 1.7;
    list-style-type: none;

    @include for-tablet-portait-only {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      font-size: 13px;
      line-height: 169.8%;
      color: $base-color;
    }
    @include for-phone-only {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      font-size: 13px;
      line-height: 169.8%;
      color: $base-color;
    }

    &-li-block {
      margin-bottom: 23px;

      @include for-tablet-portait-only {
        margin-right: 15px;
        margin-bottom: 15px;
      }
      @include for-phone-only {
        margin-right: 15px;
        margin-bottom: 15px;
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }

    &__item {
      transition: .3s;
      max-width: 160px;
    }
  }

  .active-tab {
    position: relative;
    color: $second-color;

    &::after {
      position: absolute;
      content: '';
      display: block;
      background: $second-color;
      height: 1px;
      width: 100%;
    }
  }

  &-gallery {
    position: relative;
    display: none;
    justify-content: space-between;
    transition: opacity 1s;
    width: 100%;
    max-width: 751px;
    min-height: inherit;

    &-block {
      position: relative;
      width: 100%;
      max-width: 354px;
      min-height: inherit;

      @include for-tablet-portait-only {
        display: none;
      }
      @include for-phone-only {
        display: none;
      }

      &--first {
        margin-right: 43px;
      }
    }

    &--active {
      display: flex;
      animation: fadeInFromNone 2s ease-out;
      margin-left: auto;
      margin-right: auto;
    }

    @keyframes fadeInFromNone {
      0% {
          display: none;
          opacity: 0;
      }

      1% {
          display: flex;
          opacity: 0;
      }

      100% {
          display: flex;
          opacity: 1;
      }
    }
  }

  &__content {
    background: $paragraph-color;
    width: 100%;
    position: absolute;

    @include for-tablet-portait-only {
        display: none;
    }

    @include for-phone-only {
      display: none;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include for-tablet-portait-only {
        display: none;
      }

      @include for-phone-only {
        display: none;
      }
    }

    &-one {
      top: -42px;
      max-width: 354px;
      height: 558px;
    }

    &-two {
      top: -113px;
      max-width: 354px;
      height: 275px;
    }

    &-three {
      bottom: -42px;
      max-width: 354px;
      height: 350px;
    }

    &-four {
      bottom: 40px;
      max-width: 354px;
      height: 625px;
    }
  }
}
