.types-of-repair {
  width: 100%;

  &__container {
    width: 100%;
    max-width: 1276px;
  }

  &__title {
    font-family: $title-font;
    text-transform: uppercase;
    text-align: center;
  }

  &__img {
    margin: 13px 0 31px;
    text-align: center;

    &::after, &::before {
      content: '';
      display: inline-block;
      vertical-align: text-top;
      width: 32px;
      height: 2px;
      background-color: $second-color;
      margin: 0 8px;
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 125px;

    &__offer-item {
      @include for-tablet-portait-only {
        margin-bottom: 20px;
        margin-right: 0;
      }

      @include for-phone-only {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }

    @include for-tablet-landscape-only {
      margin-bottom: 0;
    }

    @include for-tablet-portait-only {
      margin-bottom: 0;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 400px;
      margin: auto;
    }

    @include for-phone-only {
      margin-bottom: 0;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 340px;
      margin: auto;
      margin-bottom: 60px;
    }
  }
}